# -----------------------
# Backend
# -----------------------
backend/venv/
backend/.env
backend/__pycache__/
backend/**/*.pyc

# -----------------------
# VS Code
# -----------------------
.vscode/

# -----------------------
# Python
# -----------------------
__pycache__/
*.pyc

# -----------------------
# OS Files
# -----------------------
.DS_Store
Thumbs.db